/* hoja de estilos css */

body {
    background-image: url("https://carlosgomezcasar.github.io/2021-2022-CSAAI-Practicas/solomillo.jpg");
  }

h1  {
    color: rgb(196, 142, 196);
  }
p {
      color: whitesmoke;
  }
  
li {
      color: whitesmoke;
  }

h2  {
    color: rgb(189, 124, 189);
  }
