/* hoja de estilos css */

body {
    background-image: url("https://carlosgomezcasar.github.io/2021-2022-CSAAI-Practicas/solomillo.jpg");
  }

h1  {
    color: purple;
  }
p {
      color: green;
  }
  
li {
      color: green;
  }

h2  {
    color: purple;
  }
